extends base.pug

block content 
    h3 #{video.views} #{video.views === 1 ? "view" : "views"}
    a(href=`${video.id}/edit`) Edit Video &rarr;
    //- by just saying edit not /edit we are using relative url(see note 18.1)
    