extends base.pug

block content 
    div 
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    //- by just saying edit not /edit we are using relative url(see note 18.1)
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
    